*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(240, 213, 140);
}
.main{
    text-align: center;
}
.main h1{
    padding-top: 250px;
    font-size: 60px;
    text-shadow: 5px 5px 10px white;

    /* animation for this tag */

    animation-name: sllideUP;
    animation-duration: 2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;

    -webkit-animation-name: slideUP;

    transition-timing-function: ease-in-out;
}
@keyframes slideUP {

    0%{
        padding-top: 250px;
    }
    100%{
        padding-top: 0px;
    }
}

/* button styling */
.main button{
    font-size: 30px;
    margin: 30px 0 0 0;
    padding: 10px 20px;
    border: 2px solid grey;
    color: rgb(66, 66, 66);
    cursor: pointer;
}
